<!-- #Now, we need to create a form for a user to list a new puppy that is available
#for adoption. You can create this form in views/create_puppy.erb. Remember,
#you'll need to set up another controller action for a user to be able to
#view this form in the browser. Another reminder: the "submit" button of a form
#is an <input> element with a type of "submit", not a <button> element. -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <form action="/" method="post">
      <p>Enter puppy name: <input type = "text" name="name"></p>
      <p>Enter puppy breed: <input type = "text" name="breed"></p>
      <p>Enter puppy age: <input type = "number" name="age"></p>
      <input type="submit" id = "submit">
    </form>
  </body>
</html>
