<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Puppy Name:</h1>
    <h2><%=@new_puppy.name%></h2>
    <h1>Puppy Breed:</h1>
    <h2><%=@new_puppy.breed%></h2>
    <h1>Puppy Age:<h1>
    <h2><%=@new_puppy.age%></h2>
  </body>
</html>
