<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <h2>Welcome to the Puppy Adoption Site</h2>
    <a href="http://localhost:9393/new">Click Here To List A Puppy</a>
  </body>
</html>
